web/WEB-INF/wsdl/localhost_8080/ajaxandxml/MovieBillService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.ajaxandxml.mycompany.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.ajaxandxml.mycompany.com/">

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="findActorMovies" type="tns:findActorMovies"/>

<xs:element name="findActorMoviesResponse" type="tns:findActorMoviesResponse"/>

<xs:element name="findDirectorMovies" type="tns:findDirectorMovies"/>

<xs:element name="findDirectorMoviesResponse" type="tns:findDirectorMoviesResponse"/>

<xs:element name="findMovieInfo" type="tns:findMovieInfo"/>

<xs:element name="findMovieInfoResponse" type="tns:findMovieInfoResponse"/>

<xs:element name="movie" type="tns:movie"/>

<xs:complexType name="findMovieInfo">
<xs:sequence>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findMovieInfoResponse">
<xs:sequence>
<xs:element name="return" type="tns:movie" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="movie">
<xs:sequence>
<xs:element name="duration" type="xs:string" minOccurs="0"/>
<xs:element name="showingon" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="released" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="genre" type="xs:string" minOccurs="0"/>
<xs:element name="rank" type="xs:string" minOccurs="0"/>
<xs:element name="noPasses" type="xs:boolean"/>
<xs:element name="actors" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="directors" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="producers" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="writers" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="studios" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findActorMovies">
<xs:sequence>
<xs:element name="actorName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findActorMoviesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findDirectorMovies">
<xs:sequence>
<xs:element name="directorName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findDirectorMoviesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>