web/WEB-INF/wsdl/localhost_8080/ajaxandxml/MovieBillService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.ajaxandxml.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.ajaxandxml.mycompany.com/" name="MovieBillService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.ajaxandxml.mycompany.com/" schemaLocation="http://localhost:8080/ajaxandxml/MovieBillService?xsd=1"/>
</xsd:schema>
</types>
<message name="findMovieInfo">
<part name="parameters" element="tns:findMovieInfo"/>
</message>
<message name="findMovieInfoResponse">
<part name="parameters" element="tns:findMovieInfoResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="findActorMovies">
<part name="parameters" element="tns:findActorMovies"/>
</message>
<message name="findActorMoviesResponse">
<part name="parameters" element="tns:findActorMoviesResponse"/>
</message>
<message name="findDirectorMovies">
<part name="parameters" element="tns:findDirectorMovies"/>
</message>
<message name="findDirectorMoviesResponse">
<part name="parameters" element="tns:findDirectorMoviesResponse"/>
</message>
<portType name="MovieBill">
<operation name="findMovieInfo">
<input wsam:Action="http://ws.ajaxandxml.mycompany.com/MovieBill/findMovieInfoRequest" message="tns:findMovieInfo"/>
<output wsam:Action="http://ws.ajaxandxml.mycompany.com/MovieBill/findMovieInfoResponse" message="tns:findMovieInfoResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://ws.ajaxandxml.mycompany.com/MovieBill/findMovieInfo/Fault/IOException"/>
</operation>
<operation name="findActorMovies">
<input wsam:Action="http://ws.ajaxandxml.mycompany.com/MovieBill/findActorMoviesRequest" message="tns:findActorMovies"/>
<output wsam:Action="http://ws.ajaxandxml.mycompany.com/MovieBill/findActorMoviesResponse" message="tns:findActorMoviesResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://ws.ajaxandxml.mycompany.com/MovieBill/findActorMovies/Fault/IOException"/>
</operation>
<operation name="findDirectorMovies">
<input wsam:Action="http://ws.ajaxandxml.mycompany.com/MovieBill/findDirectorMoviesRequest" message="tns:findDirectorMovies"/>
<output wsam:Action="http://ws.ajaxandxml.mycompany.com/MovieBill/findDirectorMoviesResponse" message="tns:findDirectorMoviesResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://ws.ajaxandxml.mycompany.com/MovieBill/findDirectorMovies/Fault/IOException"/>
</operation>
</portType>
<binding name="MovieBillPortBinding" type="tns:MovieBill">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findMovieInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="findActorMovies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="findDirectorMovies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="MovieBillService">
<port name="MovieBillPort" binding="tns:MovieBillPortBinding">
<soap:address location="http://localhost:8080/ajaxandxml/MovieBillService"/>
</port>
</service>
</definitions>